<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title> Video Game Resale </title>
  </head>
  <body>

    <div class="container">
      <br>
      <br>
      <h3>
        This static page is where the user's payment details would be taken to
        purchase the selected listing, however this feature is not implemented
        for this example. It should however be noted that the URL for this page
        is dynamic, based on which listing's purchase button was clicked to get
        here, making it apparent that purchasing the specific listings in this
        way is a functionally possible method if this feature were to be developed
        further.
      </h3>
      <br>
      <center>
      <a class="btn btn-primary btn-block btn-lg" href="/" role="button">Return to Home Page</a>
      <br>
      <a class="btn btn-secondary btn-block btn-lg" href="https://github.com/KieranBurns112" role="button">Visit my GitHub page</a>
      <center>
  </body>
</html>
