<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" a href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title> Video Game Resale </title>
  </head>
  <body>
    <div class="container">
      <center><h1>
          {{ wrongURL }} could not be found!
      </h1></center>
      <br><br>
      <h3>
        If you manually entered the URL, ensure it was typed correctly.
      </h3>
      <br><br>
      <center>
        <a class="btn btn-primary btn-block btn-lg" href="/" role="button">Return to Home Page</a>
      </center>
    </div>
  </body>
</html>
